@import "tailwindcss";


html, body, #root{
  height: 100%;
  scroll-behavior: smooth;
}

.font-michroma{
  font-family: "Michroma",sans-serif ;
}

.font-comfortaa{
   font-family: "Comfortaa", sans-serif;
}